@CHARSET "UTF-8";

#all {

	
	padding-left: 10%;
		border: 1px solid;
}



header {
	border: 1px solid red;
	height: 15%;
	width: 90%;
	background-color:#B7F0B1;
}

#logo {
	margin: auto;
	margin-right: 6%;
	background-color: white;
}



.headerLogin {
	 text-decoration: none ;
	float: right;
	margin-top: 0;
	margin-right: 4%;
	color : graytext;
	
	
	font-family: "DX아기사랑B";
}


.mainManu{
	
	 margin-right: 3%;
	 text-decoration: none ;
      color : black;
      font-weight:bold ;
      font-family: "DX아기사랑B";
      font-size: large;
}

a:HOVER {
	 color:blue;
	 font-size: 1.3em;
}

section {
	border: 1px solid red;
	height: 75%;
	width: 90%;
	padding-left: 6%;
	padding-right: 6%;
	
}

footer {
	border: 1px solid red;
	height: 10%;
	width: 90%;
font-weight:bold ;
background-color: #EAEAEA;
}


