@CHARSET "UTF-8";


section{
	border: 1px solid;
	padding-left: 10%;
	padding-right: 10%;
}

parkingImage{
	border: 1px solid;
	height: 40%;
	width: 100%;

}


offline{
	border: 1px solid;
	width: 100%;
	height: 60%;
}